@import '../../styles/variables.scss';
.mat-toolbar {
  background: $secondary-color !important;
}

.spacer{
  flex: 1 1 auto;
}

.logo{
  mat-icon{
    color: $primary-color;
  }
}

.logoname{
  color: $primary-color;
}

.nav-links{
  gap: 4rem;
  display: flex;
  :hover{
    color: $primary-color;
  }
  a{
    display: flex;
    text-decoration: none;
    color: $tertiary-color;
    &.active-link{
      color: $primary-color;
    }
  }
}
.mat-toolbar{
    background-color: #FFFFFF !important;
}
.spacer{
    flex: 1 1 auto;  
}
.logo{
    mat-icon{
        color: #FC8019;
    }
}
.logoname{
    color: #FC8019;
    font-weight: bolder;
    font-size: large;
}
.nav-links{
    gap: 4rem;
    display: flex;
    a{
        display: flex;
        text-decoration: none;
        color: #3D4152;
    }
    a:hover{
        color: #FC8019;
    }
}